ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-block-end: 1px solid black;
}

li {
    float: left;
    display: inline;
    margin-inline-start: 1rem;
    font-family: "Sora", sans-serif;
    font-weight: 700;
}

li a {
    display: flex;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Sora",sans-serif;
}

h1{
    text-align: center;
    color: navy;
    font-size: 4rem;
    text-transform: uppercase;
}

body{
    background: rgb(222,209,189);
    background: linear-gradient(180deg, rgba(222,209,189,1) 0%, rgba(255,240,213,1) 100%);
    height: 1000px;
    margin: 0;
}

.facts{
    width: 800px;
    color: navy;
    position: absolute;
    float: left;

}

.row{
    display: flex;
    height: 88%;
    align-items: center;

}
.col{
    color: navy;
    flex-basis: 50%;
}

.card{
    width:200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url("https://raw.githubusercontent.com/AugustG01/MadSpildProjekt/main/assets/refood.jpg");
}
.card2{
    background-image: url("https://raw.githubusercontent.com/AugustG01/MadSpildProjekt/main/assets/65775654.jpg");
}
.card3{
    background-image: url("https://cdb.arla.com/api/assets/arla-dk/b353d6bb-b673-4345-afba-f32ed2d7c4ed/2400x1000_6_gode_rad_til_at_undga_madspild_madspild.jpg?width=1280&height=650&mode=cropupsize&quality=90");
}
.card4{
    background-image: url("https://thehub-io.imgix.net/files/s3/20191014152616-a00562988e2c2f432b189c699985644c.jpg?w=1600&h=900");
}

.card:hover{
    transform: translateY(-10px);
}

section{
    display: flex;
    width:80%;
    margin: 0 auto;
}
p{
    font-family: Calibri;
}