ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


body{
/*background-image: linear-gradient(180deg,red, blue);*/
    background: rgb(23,19,87);

    background: linear-gradient(55deg, rgba(23,19,87,1) 0%, rgba(10,119,31,1) 100%) no-repeat;
    height: 3000px;


}
h1{
    text-align: center;
    color: white;
}



.box {
    width: 10vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;

}

.gif{
    width: 230px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    display: block;
    content: '';
    overflow: hidden;
    position: absolute;
    right: 50px;
}