ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: flex;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


body{
/*background-image: linear-gradient(180deg,red, blue);*/
    background: rgb(37,58,82);
    background: linear-gradient(180deg, rgba(222,209,189,1) 0%, rgba(37,58,82,1) 100%);
    height: 2000px;
    font-family: "Work Sans",sans-serif;

}
h1{
    text-align: center;
    color: #253a52;
    font-size: 4rem;
}

section{
    display: flex;
}

.gif{
    width: 400px;
    height: 360px;
    border-radius: 50%;
    background: #fff;
    display: block;
    position: absolute;
    right: 100px;
    top: 180px;
}
.facts{
    width: 800px;
    color: #253a52;
    position: absolute;

}