<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="homeStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virksomhed</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="company">Virksomhed</a></li>
    <li><a href="consumer">Privat Person</a></li>
    <li><a href="">Om os</a></li>
</ul>
    <h1>Undgå madspild som virksomhed</h1>
    <section>
        <div class="facts">
            <h2>
                Som virksomhed kan man gøre meget for at minimere madspild
            </h2>
            <p></p>
        </div>
    </section>
    <div class="container">

    </div>
</body>
</html>