<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="companyStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virksomhed</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="company">Virksomhed</a></li>
    <li><a href="consumer">Privat Person</a></li>
    <li><a href="">Om os</a></li>
</ul>
<h1>Madspild</h1>
<section>

    <div class="row">
        <div class="col">
            <p>REFOOD mærket er en ordning for virksomheder og organisationer i fødevare- og servicesektoren, som gør en indsats mod madspild og for genanvendelse. Medlemskab er gratis og kræver, at man vælger mindst tre madspildsreducerende initiativer blandt vores mange gode forslag, samt har en ordning for genanvendelse af madaffald. REFOOD mærket er en tillidsbaseret certificering, som bygger på en fælles vision om en bæredygtig fødevare- og servicesektor, præget af mindre ressourcespild og mere genanvendelse
            </p>
        </div>
        <div class="col">
            <div class="card card1">
            </div>
            <div class="card card2">
            </div>
            <div class="card card3">
            </div>
            <div class="card card4">
            </div>
        </div>
    </div>
</section>


</body>
</html>