<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="consumerStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbruger</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="company">Virksomhed</a></li>
    <li><a href="consumer">Privat Person</a></li>
</ul>

<h1>Undgå madspild som forbruger</h1>

<section>
    <div class="facts">
        <h3>Hvad kan du gøre som forbruger og privat person for at formindske eller undgå madspild?</h3>
        <h4>Her er 22 tips til at du kan formindske madspild derhjemme med det samme!</h4>
        <p>
            <b>Inden du køber ind</b><br>
            1. Tag et billede af dit åbne køleskab og dit forrådsskab, så du kan huske, hvad du har på hylderne. Vi handler ofte efter arbejde, og så kan vi ikke huske, hvad køleskabet egentlig indeholder. Resultat? Vi kommer til at købe ting, vi allerede har.
            <br>
            2. Lav en overordnet madplan skitseret ud fra, hvor mange dage og hvor mange mennesker du skal lave mad til. Sørg for at planlægge et cirkulerende køkken, hvor du kan bruge råvarerne over flere dage. Planlæg gerne med flere retter, så den ene dags suppe til hovedret bliver til en forret dagen efter, de bagte rodfrugter genopstår som marinerede i en salat og kød eller fisk bruges enten i en lille salat eller til madpakker.
            <br>
            3. Planlæg din ugemenu efter tema. Den ene uge kan være italiensk, den næste thai og den tredje klassisk dansk. Blander du for mange temaer, får du ikke opbrugt de mange indkøbte råvarer, specialprodukter og krydderier.
            <br>
            4. Tænk spisning på andre måder end den traditionelle. Hvorfor ikke lave en madklub, spise sammen med naboerne på vejen eller kalde vennerne sammen? Det behøver ikke vare mere end halvanden time, indtil ungerne skal i seng. Social dining er hyggeligt og giver ny inspiration til dine egne madvaner.
            <br><br>
            <b>Når du køber ind</b><br>
            5. Brug lokale butikker som slagter, fiske- og grønthandlere. Her kan du få nøjagtig den portion, du efterspørger, så du undgår, at noget ligger og bliver for gammelt. Køb gerne frosne grøntsager, som du nemmere kan dosere efter den mængde, du skal bruge. De er lige så god kvalitet som de friske, og du undgår en stor bunke grønt, der visner på bunden af grøntsagsskuffen.
            <br>
            6. Gem din indre kræmmer væk. Det kan godt være, der hænger et stort skilt, der skriger tilbud, men har du egentlig brug for fem kilo kartofler eller 10 bananer? Og sparer du ret meget, når det kommer til stykket? Er der tilbud, du slet ikke kan modstå, så del dem med en, du kender, så du ikke ender med at købe til skraldespanden.
            <br>
            7. Drop angsten for, om der er mad nok. Den ligger dybt i os og er nedarvet fra generationer bagud, men det er okay, at bordet ikke bugner. Udryd ordene vælge og vrage fra din ordbog, for det er slet ikke nødvendigt at kunne det. Du har valgt menuen, og derfor er måltidet helt, som det skal være.
            <br>
            8. Gennemgå dine indkøb, og sorter. Er der noget, du allerede ved, at du ikke får brugt det hele af, så kom det i fryseren med det samme, inden det når at ligge og blive kedeligt. Køber du for eksempel et bundt chili til chili con carne, så tag dem fra, du skal bruge, og frys resten ned, hvis du ikke lige har andre spicy retter på ugens menu.
            <br><br>
            <b>Når du laver mad</b><br>
            9. Drop opskriftstyranniet. Opskrifter behøver ikke at blive fulgt fra punkt til prikke for at blive vellykkede. Det er langt vigtigere, at du oparbejder en metodik, så du ved, hvilke ting, der for eksempel kan erstatte hinanden. Dermed ender du ikke med at brænde inde med et bundt persillerødder, fordi du skulle bruge 100 gram i en ret, hvor du lige så godt kunne have brugt de jordskokker, som du allerede havde i køleskabet.
            <br>
            10. Husk, at nogle ting fylder meget mere, når de bliver kogt, så pas på med portionerne. Pasta og ris fordobler deres vægt, så hæld ikke blindt 500- gramspastaposen ned i gryden. Regn med cirka 100 gram pasta og cirka 80 gram ris pr. person, og kog efter det.
            <br>
            11. Lær din egen og din families maver at kende, så du laver mad til netop dem. Find for eksempel ud af hvilken skål, der passer til den portion salat, som familien spiser, så du ikke laver for meget. Og accepter de forskellige personligheder. Hvis du ved, at ingen spiser særlig meget salat, så lad være med at lave det. Det ryger ikke ned, selv om du laver en stor portion. Det ender bare med at blive overflødigt.
            <br>
            12. Smag til, smag til, smag til. Det er noget af det allervigtigste, når du laver mad. Mad, der er smagt godt til, bliver oftest spist op, for hvem vil lade god mad gå til spilde?
            <br><br>
            <b>Når du har lavet mad</b><br>
            13. Smid aldrig noget ud, der kan spises igen. Gem rester i køleskabet eller fryseren. Og hold orden. Du er garanteret meget organiseret på dit arbejde, så overfør de evner til både køleskab og fryser, som ellers ofte ender som en slagmark, hvor ingen kan huske, hvad de forskellige bøtter indeholder, og hvornår maden egentlig blev gemt. Hav nogle flotte glasbeholdere til rester i køleskabet, så der ikke er noget, der kan gemme sig, og skriv nedfrysningsdato på dine bøtter i fryseren. Og husk at du kan bruge – næsten – alle rester. En broccolistilk kan for eksempel bruges i en wokret, blancheret i en salat eller til at koge fond på. Kun fantasien sætter grænser.
            <br>
            14. Lav en kort status over aftenens måltid, og gem din viden omkring, hvad og hvor meget der blev spist og ikke spist. Skriv det på din opslagstavle, så du har overblik over portionsstørrelser til næste gang, du laver samme ret. Lav også din egen inspirationsliste over, hvordan du kan bruge dine rester. Et kyllingelår behøver ikke altid ryge på et stykke rugbrød. Det kan også bruges i pitabrød, til risotto eller i en salat.
            <br>
            15. Vær ikke bange for at lade restemad stå et stykke tid. Du behøver ikke nødvendigvis spise den tiloversblevne lasagne dagen efter, det kan sagtens holde sig et par dage i køleskabet, så du lige får en pastapause. Og husk, at meget mad faktisk smager bedre dagen efter, fordi smagen udvikler sig over tid. En suppe eller en chili con carne vil for eksempel have langt mere smag dagen efter, den er blevet lavet.
            <br>
            16. Har du haft mange gæster og har rigelig med mad tilbage, så del ud af det. Til din nabo, din søster eller din veninde. Og giv gerne dine gæster en doggybag med hjem, så flere får glæde af den mad, der er tilovers. Hvem vil ikke blive glad for færdiglavet mad i en travl hverdag?
            <br><br>
            <b>Madglæde, mandolinjern og minimale indkøb</b><br>
            17. Tag en dag om ugen, hvor du tømmer køleskabet og får spist det meste, og en uge om året, hvor du gør det samme med din fryser. På den måde ender du med at smide minimalt ud, ligesom du bliver tvunget til at tænke i kreative madbaner.
            <br>
            18. Flåede tomater, makrel og majs. Du har sikkert masser af dåser i dine køkkenskabe, men får du dem altid brugt? Lad være med at hamstre, men køb kun det nødvendige, så ender du aldrig der, hvor halvdelen af skabets indhold ender i en skraldepose. Det samme gælder mel og gryn. Tænk omsætning, omsætning, omsætning.
            <br>
            19. Brug dine krydderier helt op, inden du køber nye. Ofte har vi så mange krydderibreve, at flere af dem ender med at blive tudsegamle og uspiselige, inden de ender i en ret. Køb små poser i stedet for store, så kommer du nemmere i bund.
            <br>
            20. Er et mandolinjern ikke bare sådan et redskab, hvor folk altid får snittet sig i fingeren? Jo, hvis de er uheldige. Men det er også et redskab, der kan hjælpe dig med at kreere mange forskellige retter ud af de samme råvarer. Mandolinjernet udfordrer for eksempel det kogte blomkål ved at snitte et råt blomkål i fine tynde skiver til en lækker salat.
            <br>
            21. Meld dig til et madkursus, eller gå på jagt i en række kogebøger. Mange tror, at de kreative madevner magisk dukker op, når vi forlader mors kødgryder, men ligesom vi skal lære at køre bil, skal vi også lære at lave mad. Du får et langt sjovere madliv, hvis du er i stand til at kombinere madvarer på kryds og tværs, og du vil være i stand til at bruge næsten alle indkøb, så du undgår madspild.
            <br>
            22. Sidst men ikke mindst, gå til din madlavning med højt humør. Hvis det bliver en sur pligt, er det ikke sjovt. I stedet gælder det om at finde madglæden frem, så du får overskud til at være kreativ og dermed få det optimale ud af dine indkøbte råvarer.</p>
        
    </div>

    <img class="groceries" src="https://raw.githubusercontent.com/AugustG01/MadSpildProjekt/main/assets/98225-removebg-preview.png">

    <img class="cooking" src="https://raw.githubusercontent.com/AugustG01/MadSpildProjekt/main/assets/open-kitchen-by-williams-sonoma-dip-bowls-c.jpg">

</section>

</body>
</html>