<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="consumerStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbruger</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="company">Virksomhed</a></li>
    <li><a href="consumer">Privat Person</a></li>
    <li><a href="">Om os</a></li>
</ul>

<h1>Undgå madspild som forbruger</h1>

<section>
    <div class="facts">
        <h3>Hvad kan du gøre som forbruger og privat person for at formindske eller undgå madspild?</h3>

    </div>
</section>

</body>
</html>