<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="homeStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="company">Virksomhed</a></li>
    <li><a href="">Privat Person</a></li>
    <li><a href="">Om os</a></li>
</ul>
    <h1>Undgå madspild</h1>
    <div class="box">

    </div>
    <img class="gif" src="https://raw.githubusercontent.com/AugustG01/MadSpildProjekt/main/ezgif-3-45e4830d7a.gif">

</body>
</html>