<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="homeStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="company">Virksomhed</a></li>
    <li><a href="consumer">Privat Person</a></li>
    <li><a href="">Om os</a></li>
</ul>

    <h1>Undgå madspild</h1>
<section>
    <div class="facts">
    <h2>Værd at vide om madspild</h2>
    <p><b>• Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.<br>
        • Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.<br>
        • Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</b></p>
    </div>
    <img class="gif" src="https://raw.githubusercontent.com/AugustG01/MadSpildProjekt/main/assets/ezgif-3-45e4830d7a.gif">
</section>

</body>
</html>